table, td, th {
border:1px solid silver;
border-collapse: collapse;
}
th {
color:white;
background-color: gray;
}

.zonderbolletjes {
margin-left:0;
list-style-type: none;
}
.zonderbolletjes li {
display: inline;
}